<%
requests_per_minute = @tracker.requests_per_minute
history = @tracker.requests_per_minute_history
%>

<h2>Limits</h2>

<form method="post" action="/admin/limits">
  <p>
    Requests per minute:
    <input type="text" name="requests_per_minute" size="5" value="<%= requests_per_minute %>" />
    <input type="submit" value="Update" />
  </p>
</form>

<table id="limits">
  <thead>
    <tr>
      <th scope="col">Minute</th>
      <th scope="col">Requests</th>
    </tr>
  </thead>

  <tbody>
    <% history.reverse.each do |minute, requests| -%>
      <tr><td><%= minute %></td><td><%= requests %></tr>
    <% end -%>
  </tbody>
</table>

