<h2>Blocked IPs/downloaders</h2>

<table id="http_upload_targets">
  <thead>
    <tr>
      <th scope="col">Base URL</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th colspan="2">
        <form method="post" action="/<%= tracker.slug %>/admin/http_upload_targets">
          Add: 
          <input type="text" name="url" placeholder="Base URL" value="" />
          <input type="submit" value="Add" />
          (with trailing slash)
        </form>
      </th>
    </tr>
    <% tracker.http_upload_targets.sort.each do |url| -%>
      <tr>
        <th scope="rowgroup"><%= url %></th>
        <th scope="rowgroup">
          <form method="post" action="/<%= tracker.slug %>/admin/http_upload_targets/remove">
            <input type="hidden" name="url" value="<%= url %>" />
            <input type="submit" value="Remove" />
          </form>
        </th>
      </tr>
    <% end -%>
  </tbody>
</table>

