<h2>Blocked IPs/downloaders</h2>

<table id="blocked">
  <thead>
    <tr>
      <th scope="col">IP/Downloader</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th colspan="2">
        <form method="post" action="/<%= tracker.slug %>/admin/blocked">
          Add: 
          <input type="text" name="id" placeholder="IP or downloader" value="" />
          <input type="submit" value="Block" />
          (downloader names are case-sensitive)
        </form>
      </th>
    </tr>
    <% tracker.blocked.sort.each do |id| -%>
      <tr>
        <th scope="rowgroup"><%= id %></th>
        <th scope="rowgroup">
          <form method="post" action="/<%= tracker.slug %>/admin/blocked/remove">
            <input type="hidden" name="id" value="<%= id %>" />
            <input type="submit" value="Unblock" />
          </form>
        </th>
      </tr>
    <% end -%>
  </tbody>
</table>

