<h2>Warrior HQ Projects Editor</h2>

<form method="post" action="/global-admin/warrior">
  <textarea class="big-text-input" name="content"><%= tracker_manager.get_warrior_projects %></textarea>
  <br/>
  <input type="submit" value="Apply" />
</form>