<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="robots" content="noindex,nofollow" />
  <title><%= tracker_config.title %> Rescue-Me</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet" type="text/css" />
  <link href="/css/dashboard.css?<%= assets_version %>" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="container">
  <form method="post" action="/<%= tracker.slug %>/rescue-me" class="rescue">
    <h1>Don&#8217;t forget...</h1>
    <p>
      <textarea name="items" placeholder="Items you&#8217;d like to see saved (separated by spaces, newlines or tabs)"></textarea>
    </p>
    <p>
      <input type="submit" value="Please?" name="submit_button" />
    </p>
    <p>
      Have more than a few items?<br/>Please don&#8217;t use this form, but do mention it on IRC.
    </p>
  </form>
</div>

<script type="text/javascript">
(function() {
  document.forms[0].onsubmit = function(evt) {
    document.forms[0].submit_button.value = 'Processing...';
    return true;
  }
})();
</script>

</body>

</html>

