body {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}
form {
  margin: 0;
  padding: 0;
}
ul, li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
  font-size: 24px;
}
table, td, th {
  padding: 0;
  margin: 0;
  border-spacing: 0;
}
li, td {
  border: none;
  font-size: 24px;
  overflow-x: hidden;
  white-space: nowrap;
}
td {
  height: 32px;
}
th {
  text-align: left;
}
h1 {
  margin: 0 20px 0 -7px;
  padding: 0 0 4px 7px;
  border-bottom: 1px solid #000;
  font-weight: normal;
  font-size: 24px;
}

#update-status {
  display: none;
  color: #f00;
}

#left {
  float: left;
  clear: left;
  position: relative;
}
#left table {
  margin-bottom: 32px;
}
.log {
  margin-left: 470px;
}
a#show-all {
  position: absolute;
  left: 16px;
  bottom: 8px;
  display: block;
  padding: 0 25px 0 5px;
  font-size: 15px;
  font-family: sans-serif;
  color: #777;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  text-decoration: none;
}
a#show-all:active,
a#show-all:hover {
  color: #000;
  background: #aaa;
}
td span {
  display: inline-block;
}
td.num {
  width: 145px;
  text-align: right;
}
span.text {
  display: inline-block;
  width: 140px;
  overflow: hidden;
}
span.unit {
  display: inline-block;
  width: 48px;
  padding-left: 4px;
  text-align: left;
  color: #aaa;
  font-size: 18px;
}
tfoot td {
  border-top: 1px solid #000;
  height: 31px;
}
.log td span.text {
  width: 170px;
}
#chart-container {
  margin-top: 15px;
  width: 950px;
  height: 440px;
  clear: both;
  background: #fee;
}
#container {
  position: relative;
  width: 960px;
  margin: 0 auto 0 auto;
}

form.rescue {
  margin: 0 auto;
  padding: 0;
  width: 610px;
}
p {
  margin: 10px 0 10px 0;
}
input[type=submit] {
  font-size: 24px;
  padding: 3px 8px;
}
textarea {
  width: 580px;
  height: 200px;
  padding: 3px 5px;
  margin: 0 0 0 -5px;
}

