body {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}
form {
  margin: 0;
  padding: 0;
}
ul, li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
  font-size: 24px;
}
table, td, th {
  padding: 0;
  margin: 0;
  border-spacing: 0;
}
li, td {
  border: none;
  font-size: 24px;
  overflow-x: hidden;
  white-space: nowrap;
}
td {
  height: 32px;
}
th {
  text-align: left;
}
h1 {
  margin: 0 20px 0 -7px;
  padding: 0 0 4px 7px;
  border-bottom: 1px solid #000;
  font-weight: normal;
  font-size: 24px;
}

#update-status {
  display: none;
  color: #f00;
}

#left {
  float: left;
  clear: left;
  position: relative;
}
#left table {
  margin-bottom: 32px;
}
.log {
  margin-left: 450px;
}
a#show-all {
  position: absolute;
  left: 16px;
  bottom: 8px;
  display: block;
  padding: 0 25px 0 5px;
  font-size: 15px;
  font-family: sans-serif;
  color: #777;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  text-decoration: none;
}
a#show-all:active,
a#show-all:hover {
  color: #000;
  background: #aaa;
}
td span {
  display: inline-block;
}
td.num {
  width: 145px;
  text-align: right;
}
span.text {
  display: inline-block;
  width: 140px;
  overflow: hidden;
}
span.unit {
  display: inline-block;
  width: 48px;
  padding-left: 4px;
  text-align: left;
  color: #aaa;
  font-size: 18px;
}
tfoot td {
  border-top: 1px solid #000;
  height: 31px;
}
.log td span.text {
  width: 170px;
}
.log td.downloader span.text {
  padding-left: 31px;
}
.log tr.warrior td.downloader span.text {
  background: left bottom no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAWCAAAAAD/FgNUAAAAAXNSR0IArs4c6QAAAU1JREFUeNpt0ElvgkAUAOD++vbSW/+BPTSmJsRo1RZBZVGxVKmFQQdHQSqbuKA10YQ4JYpaQ+fw5iVfXt5yg/++6QJvZqtDegXewPrSxiDE4TW4sjcDEwfaHjrDNoyCjha+uwwCAM0wBnT74EYd4HLlzeZbf6r17RjIDIziyPbWlgxkc+daR9hJtIWxs54rQposc1QbxRVYfCY4EfgK+ZqjCiRNM+oRFKX/BmpVqZKtEBRTZovU+ADLRjQrVrI8W60Xer16p1jzD9BtKA7P03zINFRmpLUGdPc4rlorUUSOe9krTVNAUDAI97SgV6HZjvCDWSE/HIjGx3nzCRxJmi0hpD5BvWX2TuC48udY7kwM8J7KwK5uxRAM+2L0fYusZJRb+HJ22xHmlyNfwNYRt/8HXLAATZyAzXezJCvtJMD7x7t8Xk0CDhwqnZom4BfSY9/GgRksVwAAAABJRU5ErkJggg==);
}
#chart-container {
  margin-top: 15px;
  width: 950px;
  height: 440px;
  clear: both;
  background: #fee;
}
#container {
  position: relative;
  width: 960px;
  margin: 0 auto 0 auto;
}

form.rescue {
  margin: 0 auto;
  padding: 0;
  width: 610px;
}
p {
  margin: 10px 0 10px 0;
}
input[type=submit] {
  font-size: 24px;
  padding: 3px 8px;
}
textarea {
  width: 580px;
  height: 200px;
  padding: 3px 5px;
  margin: 0 0 0 -5px;
}

#how-to-help,
#how-to-help-cue {
  background: #eee;
  margin: -8px -8px 8px -8px;
}
#how-to-help-cue h1 {
  position: relative;
  width: 960px;
  margin: 0 auto 0 auto;
  padding: 2px 0 7px 0;
  border: none;
  font-weight: normal;
}
#how-to-help-cue a {
  text-decoration: none;
}
#how-to-help {
  display: none;
}
#how-to-help-card {
  position: relative;
  width: 960px;
  margin: 0 auto 0 auto;
  padding: 12px 0 22px 0;
}
#how-to-help h1 {
  margin: 0;
  padding: 0;
  border: none;
  font-weight: normal;
}
#how-to-help .warrior-logo {
  width: 100px;
  float: left;
  margin: 15px 12px 0 -15px;
}
#how-to-help .screenshots img {
  width: 256px;
  border: 5px solid #fff;
}
#how-to-help ol {
  padding-left: 0;
  margin: 0 0 10px 0;
  list-style: decimal;
}
#how-to-help li {
  overflow-x: visible;
  white-space: normal;
  margin-left: 2em;
  padding-left: 5px;
  list-style: decimal;
}
#how-to-help p, #how-to-help ol, #how-to-help li {
  font-size: 16px;
  max-width: 600px;
}

